<%- include('../partials/userHeader')%>
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->

	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<% if(countInCart!==0){ %>
				<div class="row">
					<div class="col-lg-8 col-md-12">
						<div class="cart-table-wrap">
							<table class="cart-table">
								<thead class="cart-table-head">
									<tr class="table-head-row">
										<th class="product-remove"></th>
										<th class="product-image">Product Image</th>
										<th class="product-name">Name</th>
										<th class="product-price">Price</th>
										<th class="product-quantity">Quantity in Kg</th>
										<th class="product-total">Total Price</th>
									</tr>
								</thead>
								<tbody>
									<%productData.forEach((product)=>{%>
										<tr class="table-body-row">
											<td class="product-remove"><button
													onclick="removeProduct('<%=product._id%>','<%=product.productDetail._id%>')"><i
														class="far fa-window-close" style="border: none;"></i></a></td>
											<td class="product-image"><img
													src="<%= product.productDetail.image[0].url%> " alt=""></td>

											<td class="product-name">
												<%=product.productDetail.product_name%>
											</td>

											<td class="product-price">
												<p id="price<%= product._id%>">
													<%=product.productDetail.price%>
												</p>
											</td>

											<div class="product_count">
												<td>
													<div class="container d-flex">
														<button class="cart-item-count  mr-3"
															onclick="changeQuantity('<%= product._id %>','<%= product.productDetail._id %>',-1,'<%=product.productDetail.product_name%>','<%=countInCart%>','<%=product.productPrice%>')">-</button>
														<p id="<%= product.productDetail._id %>" min="0"
															name="quantity">
															<%= product.productQuantity%>
														</p>

														<button class="cart-item-count ml-3 mr-3"
															onclick="changeQuantity('<%= product._id %>','<%= product.productDetail._id %>',1,'<%=product.productDetail.product_name%>','<%=countInCart%>','<%=product.productPrice%>')">+</button>
													</div>
												</td>
											</div>
											<td class="product-total">
												<p id="<%=product.productDetail.product_name%>">₹<%=product.productPrice%></p>
											</td>
											<!-- <td class="product-total">1</td> -->
										</tr>
										<%})%>
								</tbody>
							</table>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="total-section">
							<table class="total-table">
								<thead class="total-table-head">
									<tr class="table-total-row">
										<th>Total</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr class="total-data">
										<td><strong>Subtotal: </strong>
										</td> 
										<td>
											<p id="sum"><%=sum %></p>
										</td>
									</tr>
									<!-- <tr class="total-data">
										<td><strong>Shipping: </strong></td>
										<td>₹
										</td>

									</tr> -->
									<tr class="total-data">
										<td><strong>Total: </strong></td>
										<td><p id="netamount">₹<%=sum%></p>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="cart-buttons">
								<a href="/shop" class="boxed-btn">Continue Shopping</a>
								<a href="/checkout" class="boxed-btn black">Check Out</a>
							</div>
						</div>
					</div>
				</div>
				<% }else{ %>
					<div class="d-flex align-items-center justify-content-center">
						<h2 class="text-danger">Oops..! Your cart is empty</h2>
					</div>
					<div class="cart-buttons text-center">
						<a href="/shop" class="boxed-btn">Continue Shopping</a>
					</div>
					<% } %>
		</div>
	</div>


	<!-- end cart -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium
							doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>, All Rights
						Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	<!-- jquery -->
	<script src="./assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="./assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="./assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="./assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="./assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="./assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="./assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="./assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="./assets/js/main.js"></script>

	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>
		function removeProduct(cartId, productId) {
			$.ajax({
				url: "/removeProduct",
				data: {
					cart: cartId,
					product: productId
				},
				method: "post",
				success: () => {
					location.reload();
				}
			})
		}


		function changeQuantity(cartId, productId, count ,productname,countInCart,productPrice) {
			let quantity = parseInt(document.getElementById(productId).innerHTML);
			$.ajax({
				url: "/changeQuantity",
				data: {
					cart: cartId,
					product: productId,
					count: count,
					quantity: quantity,

				},
				method: "post",
				success: (response) => {
					 //document.getElementById(productId).innerHTML = quantity + count;
					
					if(response.status){
						
						document.getElementById(productId).innerHTML = quantity+count;
						document.getElementById("sum").innerText = "₹"+response.productData.total;
						// for(let i = 0;i<response.countInCart;i++){
						document.getElementById(productname).innerText = "₹"+response.productData.product[0].price;
						// }
						document.getElementById("netamount").innerText = "₹"+response.productData.total;

					}
					
					if (response.quantity) {
						Swal.fire({
							icon: "error",
							title: "Oops...",
							text: "Minimum One kg required!",
						});
					}
					if (response.stock) {
        				Swal.fire({
						title: "Out of stock!",
						icon: "error",
						confirmButtonText: "continue",
						});
					}
					
				}
			})
		}
	</script>

	</body>

	</html>