<%- include('../partials/userHeader')-%>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Check Out Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<section class="mt-5">
		<div class="container">
			<form id="checkout">
			  <div class="row">
				<div class="order col-md-6 mt-3">
				  <h5 class="white">Order Details:</h5>
				  <div
					style="border: 1px solid; width: 100%;"
					class="p-4 d9"
				  >
				  <div class="w-100 w-md-50 align-items-center" id="apply" style="display: flex;">
					<lable for="">Coupon:</lable>
					<div class="d-flex align-items-center ms-2" style="background-color: #fff;border-radius: 10px;">
					  <input type="text" id="coupon" name="coupon" class="form-control he" placeholder="Coupon Code" style="outline: none; border: none;border-radius: 5px;">
					  <button class="btn btn-sm white blue he" type="button" onclick="cou('<%= sum %>')">Apply</button>
					</div>
				  </div>
				  <div class="d-flex w-100 align-items-center" id="applied" style="display: none !important;">
					<lable for="">Coupon:</lable>
					<div class="d-flex flex-column align-items-start p-2 ms-2" id="applied" style="border: 1px solid;">
					  <div style="font-size: 10px;"><a onclick="remove('<%= sum %>')">Remove</a></div>
					  <h6 id="coup_code">NOW20</h6>
					  <div> discount of &nbsp;<label for="" id="per"> 20% &nbsp;</label> upto &nbsp;Rs.<label for="" id="amount">200</label></div>
					</div>
				  </div>
				  <h6>Products: </h6>
				  <table class="w-100">
					<% productData.forEach((product)=>{ %>
					  <tr class="text-center">
						<td><%= product.productDetail.product_name %></td>
						<td><%= product.productQuantity%></td>
						<td>x Rs.<%= product.productDetail.price %></td>
					  </tr>
					  <% }) %>
				  </table>                  
					<hr>
					<table class="w-100">
					  <tr class="text-center">
						<th>Product total:</th>
						<th>Rs.<%= sum %></th>
					  </tr>
					  <tr class="text-center">
						<th>Discount:</th>
						<th>- Rs.<label for="" id="discount">0</label></th>
					  </tr>
					  <tr class="text-center">
						<th>Total:</th>
						<th>Rs.<label for="" id="total"><%= sum %></label></th>
					  </tr>
					</table>
				  </div>
				</div>
				<div class="shipadrss col-md-6 mt-3">
				  <h5 class="white">Shipping Address:</h5>
				  <div class="form-group">
					<select class="form-control" name="address" id="exampleFormControlSelect1" style="width: 350px;">
						<% userData.addressDetails.forEach((address)=>{ %>
					  <option name="address">
						<%=address.apartment %>,<%=address.postoffice %>,<%=address.landmark %>,<%=address.area %>,<%=address.district %>,<%=address.state %>
					  </option>
					  <% }) %>
					</select>
				  </div>
			
				</div>
				<div class="payment col-md-6 mt-3">
				  <h5 class="white">Payment:</h5>
				  <div
					style="border: 1px solid"
					class="p-4 d-flex align-content-center align-items-center d9"
				  >
					<input type="radio" name="pay" value="cod" class="me-1" required checked/>
					  Cash On Delivery (COD)
				  </div>
				  <div
					style="border: 1px solid"
					class="p-4 d-flex align-content-center align-items-center d9"
				  >
				  <input type="radio" name="pay" value="online" class="me-1" required/>
					Pay Online
				  </div>
				</div>
  
				<div class="payment col-md-6 mt-3 p-5" >
				  <button type="submit" class="btn-primary con btn-lg w-100 mt-4">
					Confirm Order
				  </button>
				</div>
			  </div>
			</form>
			<div class="payment col-md-6 mt-3">
			<div style="border: 1px solid" class="p-4 d-flex align-content-center align-items-center d9">
				<button class="boxed-btn"data-toggle="modal"
				data-target="#exampleModal">Add Address</button>  
				</div>
			</div>
				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Add New Address</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							  


							<form action="/addNewAddress" method="post">
								<div class="modal-body">
									<div class="mb-3">
										<label for="recipient-name"
											class="col-form-label">Housename:</label>
										<input required type="text" class="form-control" id="housename"
											name="housename" />
										<p id="houseError" style="color: red"></p>
									</div>
									<div class="mb-3">
										<label for="recipient-name" class="col-form-label">Area:</label>
										<input required type="text" class="form-control" id="area"
											name="area" />
										<p id="areaError" style="color: red"></p>
									</div>
									<div class="mb-3">
										<label for="recipient-name" class="col-form-label">Landmark:</label>
										<input required type="text" class="form-control" id="landmark"
											name="landmark" />
										<p id="landmarkError" style="color: red"></p>
									</div>
									<div class="mb-3">
										<div class="row">
											<div class="col-md-6 mb-3">
												<label for="firstName">District</label>
												<input required type="text" class="form-control"
													id="district" name="district" />
												<p id="stateError" style="color: red"></p>
											</div>
											<div class="col-md-6 mb-3">
												<label for="lastName">State</label>
												<input required type="text" class="form-control" id="state"
													name="state" />
												<p id="pincodeError" style="color: red"></p>
											</div>
										</div>
									</div>
									<div class="mb-3">
										<div class="row">
											<div class="col-md-6 mb-3">
												<label for="firstName">Post office</label>
												<input required type="text" class="form-control"
													id="postoffice" name="postoffice" />
												<p id="stateError" style="color: red"></p>
											</div>
											<div class="col-md-6 mb-3">
												<label for="lastName">Pincode</label>
												<input required type="text" class="form-control" id="pin"
													name="pin" />
												<p id="pincodeError" style="color: red"></p>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">
										Close
									</button>
									<button type="submit" value="submit" class="btn btn-primary">
										Add
									</button>
								</div>
							</form>
						</div>
						
					</div>
				</div>
			</div>
			
		  </div>
		</div>
	  </section>
	<!-- end check out section -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium
							doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>, All Rights
						Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
			crossorigin="anonymous"></script>
			<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
			<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

	<script>
		$("#checkout").submit((e)=>{
			e.preventDefault();
			$.ajax({
				url:'/placeOrder',
				method:'post',
				data:$('#checkout').serialize(),
				success:(response)=>{
					if(response[0].success){
						location.href = `/orderConfirmation`;
					}else{
						razorPay(response);
					}
				}
			})
		})


		function cou(amount) {
        const code = document.getElementById('coupon').value;
        $.ajax({
          url: "/coupon-check",
          method: "post",
          data: {
            code,
            amount,
          },
          success: (response) => {
                if (response[0].success) {
                  swal("Coupon Added!", "You got a discount of Rs." + response[0].dis, "success")
                    .then(() => {
                      document.getElementById('discount').innerHTML = response[0].dis;
                      const total = Number(amount) - Number(response[0].dis);
                      document.getElementById('total').innerHTML = total;
                      applied(response[1].check);
                    });
                } else {
                  swal("Error", response[0].message , "error")
                    .then(() => {
                          location.reload()
                  });
                }
            },
          });
      }


	  function applied(data) {
        document.getElementById('coup_code').innerHTML = data.coupon_code;
        document.getElementById('per').innerHTML = data.offer;
        document.getElementById('amount').innerHTML = data.max_amount;
        document.getElementById('applied').style.display = 'block';
        document.getElementById('apply').style.display = 'none';
      }
      function remove(sum) {
        // document.getElementById('applied').style.display = 'none';
		document.getElementById('coupon').value = ""
        document.getElementById('applied').style.setProperty("display","none","important");
        document.getElementById('apply').style.display = 'flex';
        document.getElementById('discount').innerHTML = 0;
        document.getElementById('total').innerHTML = sum;
		
      }
	</script>
	<script>
			function razorPay(order) {
				const orderData = order[0].orders
		var options = {
			"key": "rzp_test_4fGKqxVpJTRSh2", // Enter the Key ID generated from the Dashboard
			"amount": orderData.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
			"currency": "INR",
			"name": "Frutica",
			"description": "Test Transaction",
			"image": "/assets/img/logo.png",
			"order_id": orderData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
			"handler": function (response) {
				// alert(response.razorpay_payment_id);
				// alert(response.razorpay_order_id);
				// alert(response.razorpay_signature)
				verifyPayment(response, orderData);
			},
			"prefill": {
				"name": "Fruitikha",
				"email": "fruitikha@gmail.com",
				"contact": "9999999999"
			},
			"notes": {
				"address": "Razorpay Corporate Office"
			},
			"theme": {
				"color": "#3399cc"
			}
			
		};
		var rzp1 = new Razorpay(options);
		rzp1.on('payment.failed', function (response) {
			// alert(response.error.code);
			// alert(response.error.description);
			// alert(response.error.source);
			// alert(response.error.step);
			// alert(response.error.reason);
			// alert(response.error.metadata.order_id);
			// alert(response.error.metadata.payment_id);
			location.href = "/paymentFail";
		});
		rzp1.open();
	}
	
	function verifyPayment(payment, order) {
		$.ajax({
			url: "/verifyPayment",
			data: {
				payment,
				order,
			},
			method: "post",
			success: (response) => {
				if (response.success) {
					location.href = "/orderConfirmation";
				} else {
					location.href = "/paymentFail";
				}
			},
		});
	}
	</script>



	</body>

	</html>
	